body {


}

.container {
	width: 960px;


}

.title,h1,h2,h3,h4 {

display: -webkit-flex;
  display: flex;
flex-direction: column;
-webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;

}


.important {
	text-align:center;
}

.technolgyContainer {
	display: -webkit-flex;
	  display: flex;
		flex-direction:row;

}
.technolgyContainer img {
	 width:120px;
	 height:100px;
	margin:auto;
	/*width:100%;*/
}

.technolgyContainer a {
	color: #000000; text-decoration: none;
	text-align:center;

}

#scalalogo {
	width:80px;
}

.technolgyContainer .item {
	flex:1;

	display: -webkit-flex;
	  display: flex;
	flex-direction: column;
}
